body {
    font-family: 'Lato', sans-serif;
}
* {
    margin: 0;
    padding: 0;
}

.bar{
    display: flex;
    flex-direction: row;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 15px 4px #e2e2e2;
}
.bar-logo {
    width: 250px;
    height: inherit;
    display: flex;
    align-items: center;
    padding-left: 2%;
}
.bar-logo img {
    height: 32px;
}
.bar-search input {
    width: 400px;
    height: 20px;
    border: 1px solid #c2c2c2;
    border-radius: 6px;
    padding: 3px 10px;
    color: #828282;
}
.bar-search input:focus {
    border: 2px solid #c2c2c2;
    outline: none;
}
.user-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-menu p {
    margin-right: 15px;
}
.user-image {
    border-radius: 30px;
    overflow: hidden;
    height: 36px;
    margin-right: 15px;
}
.user-image img {
    height: inherit;
    object-fit: cover;
}
.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    vertical-align: middle;
    margin-right: 15px;
    cursor: pointer;
}
.arrow.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.wrap {
    display: grid;
    grid-template-areas: "menu moviesList";
    grid-template-columns: 80px 1fr;
    grid-template-rows: calc(100vh - 50px);
}
.menu {
    position: relative;
    grid-area: menu;
    background: linear-gradient(to right, #ff3f53, #fd6766);;
    display: grid;
    grid-template-rows: 240px 80px;
    width: 100%;
    align-content: space-between;
}
.menu-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: inherit;
}
.menu-item {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
    width: inherit;
    list-style: none;
}
.menu-item img {
    width: 30px;
}
.menu-item a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: inherit;
    width: inherit;
    font-size: 0.9em;
    color: white;
    text-decoration: none;
}
.menu-item a:hover {
    background: #ff3f53;
}
.moviesList {
    grid-area: moviesList;
    display: grid;
    grid-template-rows: repeat(3, 250px);
    gap: 15px;
    padding: 10px 30px 30px 30px;
    overflow-y: auto;
}
.moviesList-cat {
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-columns: repeat(3, minmax(300px, 1fr)) minmax(100px, 1fr);
    grid-template-areas:    
                "title title title title"
                "movie1 movie2 movie3 more";
    row-gap: 5px;
    column-gap: 30px;   
    justify-content: space-around;
}
.moviesList-title {
    grid-area: title;
    display: flex;
    align-items: center;
    font-size: 1em;
}
.movie {
    display: flex;
    align-items: flex-end;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 0px 15px#dadada;
    background-image: url("../images/leonidas.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}
.movie:nth-of-type(1) {
    grid-area: movie1;
}
.movie:nth-of-type(2) {
    grid-area: movie2;
}
.movie:nth-of-type(3) {
    grid-area: movie3;
}
.movie:nth-of-type(4) {
    grid-area: more;
}
.movie-details {
    padding: 15px;
    background: #fd6766cc;
    color: white;
}
.movie-details:hover {
    background: #ff3f53;
}
.movie-title {
    font-size: 1.2em;   
    line-height: 1.5em;
}
.movie-description {
    font-size: 0.8em;
    line-height: 1.4em;
}
.movie-more {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #fd6766, #ff3f53);
    width: 100%;
    height: 100%;
}
.movie-more a {
    height: inherit;
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    color: white;
}

@media screen and (max-width: 1230px) {
    .moviesList-cat {
        grid-template-rows: 50px 1fr;
        grid-template-columns: repeat(2, minmax(300px, 1fr)) minmax(100px, 1fr);
        grid-template-areas:    
                    "title title title"
                    "movie1 movie2 more";
    }
    .movie:nth-of-type(3) {
        grid-area: movie3;
        display: none;
    }
}

@media screen and (max-width: 940px) {
    .moviesList-cat {
        grid-template-rows: 50px 1fr;
        grid-template-columns: minmax(300px, 1fr) minmax(100px, 1fr);
        grid-template-areas:    
                    "title title"
                    "movie1 more";
    }
    .movie:nth-of-type(2) {
        grid-area: movie2;
        display: none;
    }
    .user-menu p {
        margin-right: 15px;
        display: none;
    }
    .bar-logo {
        width: auto;
    }
}

@media screen and (max-width: 640px) {
    .moviesList {
        grid-template-rows: repeat(3, 1fr);
        gap: 15px;
        padding: 10px 30px 30px 30px;
        overflow-y: auto;
    }
    .moviesList-cat {
        grid-template-rows: 50px 200px 40px;
        grid-template-columns: minmax(300px, 1fr);
        grid-template-areas:    
                    "title"
                    "movie1"
                    "more";
    }
    .bar-logo {
        width: 28px;
        overflow: hidden;
        padding-left: 4%;
    }
    .bar-search input {
        width: 265px;
    }
    .movie-more a {
        font-weight: normal;
        font-size: 1em;
    }
    .wrap {
        grid-template-columns: 50px 1fr;
    }
    .menu {
        grid-template-rows: 150px 50px; 
    }
    .menu-item img {
        width: 24px;
    }
    .menu-item a span {
        display: none;
    }
}